---
import Layout from "@layouts/Layout.astro";
import type { Movie } from "@typ/index";
import ContentCard from "@components/ContentCard";
import ContentDetails from "@components/ContentDetails";

export const prerender = false;

const { series } = Astro.params;

const movieDetails: Movie = await fetch(
  `${import.meta.env.TMDB_API_URL}/tv/${series}`,
  {
    method: "GET",
    headers: {
      accept: "application/json",
      Authorization: `Bearer ${import.meta.env.TMDB_API_KEY}`,
    },
  }
).then((res) => res.json());
---

<Layout title=`What To Watch || ${movieDetails.title}`>
  <main>
    <h1><span class="text-gradient">{movieDetails.title}</span></h1>
    <section>
      <div>
        <ContentCard content={movieDetails} type="series" client:idle />
      </div>
      <div>
        <ContentDetails content={movieDetails} />
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: 80%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  section {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  div {
    display: flex;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
